@import '../../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.topbar {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  height: 70px;
  background-color: #fff;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 4;
  transition: all 1s ease;
  box-shadow: 0px 0px 10px #666;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      .logo {
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
        display: flex;
        align-items: center;
        font-family: 'Kaushan Script', cursive;
      }
      .itemContainer {
        @include mobile {
          display: none;
        }
        i {
          font-size: 20px;
          margin-right: 5px;
        }
        .phone {
          color: $mainColor;
          text-decoration: none;
          transition: all 0.5s ease;
          font-size: 20px;
          &:hover {
            color: $blueColor;
          }
        }
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon {
          font-size: 18px;
          margin-right: 10px;
        }
        span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
    .right {
      .hamburger {
        width: 32px;
        height: 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 1s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: #fff;
    .hamburger {
      span {
        &:first-child {
          background-color: #fff;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: #fff;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
