@import '../../global.scss';
.intro {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url('../../assets/images/bg-1.jpg');

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  background-repeat: no-repeat;
  display: flex;
  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      margin-top: 100px;
    }
    .imgContainer {
      padding: 20px 40px;
      width: 600px;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 100%;
        display: block;
      }
      @include mobile {
        width: 70%;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      @include mobile {
        padding-left: 0;
        align-items: center;
      }
      h1 {
        font-size: 60px;
        margin: 10px 0;
        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 45px;
        @include mobile {
          font-size: 35px;
        }
      }
      h3 {
        font-size: 30px;
        span {
          font-size: inherit;
          color: rgb(0, 214, 218);
        }
        @include mobile {
          font-size: 20px;
        }
        .ityped-cursor {
          animation: blink 1s infinite;
        }
        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 50px;
      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
