.intro {
  background-color: #fff;
  display: flex;
  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .imgContainer {
      padding: 20px 40px;
      width: 600px;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 100%;
        display: block;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 60px;
        margin: 10px 0;
      }
      h2 {
        font-size: 45px;
      }
      h3 {
        font-size: 30px;
        span {
          font-size: inherit;
          color: rgb(0, 106, 255);
        }
        .ityped-cursor {
          animation: blink 1s infinite;
        }
        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 50px;
      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
